html,body{ width: 100%; height: 100%; }
body{color:#222;-webkit-text-size-adjust:none;}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl, dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,iframe{margin:0; padding:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
body{font-family:Tahoma,Arial,Roboto,”Droid Sans”,”Helvetica Neue”,”Droid Sans Fallback”,”Heiti SC”,sans-self;font-size:62.5%;}
ol,ul{list-style:none;}

h1{ font-size: 40px; margin-bottom: 50px}

@media screen and (max-width: 1000px) {
  .section-1{ height: 300px!important; }
  .en-name{ font-size: 20px!important; }
  .item { width: 85%!important; }
  #note { padding: 50px 15px!important; }
  .basic{ font-size:15px!important; }
  .section-1 .navs.float .nav{ width: 60px!important; font-size: 15px!important; }
}

.p-relative{ position: relative }
.p-absolute{ position: absolute }
/*浮动*/
.fn-left { float: left}
.fn-right { float: right}
.fn-clear:after { visibility: hidden; display: block; font-size: 0; content:" "; clear: both; height: 0; }
.flex { display: flex; }

.fontSE60 { font-size: 60px; }
.color01{ color: #FFF; }


@font-face {
  font-family: 'iconfont';
  src: url('../images/iconfont/iconfont.eot');
  src: url('../images/iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../images/iconfont/iconfont.woff') format('woff'),
  url('../images/iconfont/iconfont.ttf') format('truetype'),
  url('../images/iconfont/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 30px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
